.bg-image{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	border: 10px solid;
	border-color: darkred;
	border-radius: 5px;
	
	
	background: hotpink url(./image/hack.png) no-repeat  center center ;

}


